body {
  background-color: rgb(153, 153, 239);
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  border: solid black;
}
/* article {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
} */
.card {
  gap: none;
  /* width: 13em; */
  height: 25%;
  width: auto;
  border: solid 5px gray;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4%;
}

img {
  width: 50%;
  max-height: 100px;
  padding: 5%;
  border-radius: 5%;
  display: inline-block;
  border: solid black;
  /* margin-top: 2vh; */
  flex-basis: auto;
}

h2 {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 6rem;
  margin-top: 2%;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-basis: auto;
  margin-top: 2%;
}

button {
  background-color: rgb(114, 101, 171, 0.8);
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: #f1ff5c;
  background-color: rgb(114, 101, 171);
  color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
