body {
  background-color: rgb(153, 153, 239);
}

main {
  display: flex;
  justify-content: center;
  gap: 2%;
}
/* article {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
} */
.card {
  gap: none;
  width: 13em;
  /* height: 20em; */
  border: solid 5px gray;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

img {
  width: 50%;
  max-height: 100px;
  padding: 5%;
  border-radius: 5%;
  display: inline-block;
  border: solid black;
  /* margin-top: 2vh; */
}

h2 {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 2%;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

button {
  /* display: block; */
  border-radius: 5px;
  height: 2rem;
  width: 4rem;
  background-color: rgb(255, 238, 53);
}
