body {
  background-color: rgb(153, 153, 239);
}

main {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  border: solid black;
}
article {
  display: flex;
  flex-direction: column;

  height: 90%;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: solid rgb(245, 245, 245);
}

.card {
  gap: none;
  flex-basis: content;
  max-height: 90%;
  /* max-width: 80%; */
  border: solid 5px gray;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4%;

  /* flex-grow: 1;
  flex-shrink: 1; */
}

img {
  width: 50%;
  max-height: 100px;
  padding: 5%;
  border-radius: 5%;
  /* border: solid black; */
  margin: none;
}

h2 {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 6rem;
  margin: none;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 1%;
}

button {
  background-color: rgb(114, 101, 171, 0.8);
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
  border-color: #f1ff5c;
  background-color: rgb(114, 101, 171);
  color: #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5rem;
  color: white;
  letter-spacing: 1rem;
  margin-bottom: 5%;
}
